<div class="container">
        <p-tabView orientation="right">
                        <p-tabPanel header="Line" [selected]="true">
                                        <app-line></app-line>
                                </p-tabPanel>
                <p-tabPanel header="Pie" >
                    <app-pie></app-pie>
                </p-tabPanel>
                 <p-tabPanel header="Bar">
                        <app-bar></app-bar>
                    
                </p-tabPanel>
                
        </p-tabView>
</div>
